<div name="home_show_result">
  <table>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>DOI</strong></td>
      <td><strong>URL</strong></td>
    </tr>
    <tr>
        <td><%= @result.name %></td>
        <td><%= @result.doi %></td>
        <td> <a href="<%= @result.urls.last.url %>"></td>
    </tr>
  </table>
</div>
<%= link_to "New Search", root_path %> | <%= link_to 'Create a new DOI', controller: "dois", action: "new" %> | <%= link_to 'View All DOIs', dois_path %> 
