<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div id="user_nav">
    <% if user_signed_in? %>
      Welcome<%= current_user.email %>! Not you?
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %><br>

      <a id="display_text" href="javascript:toggle('toggle_text', 'display_text');">Show</a> Order History
      <div id='toggle_text' style="display: none;">
        Click on an order to view more details 
        <% order_list = Order.where(:uid => current_user.id).pluck("id", "charge", "created_at") %>
        <table >
          <tr>



            <% order_list.each do |o| %>
               <% a = OrderItem.where(:order_id => o ).pluck("item_id", "quant") %>
               <td><section style="background-color: #cccccc;"> Order No.<%= o[0] %> on <%= o[2].localtime %></section></td>
              <td><a id="tgl<%= o[0] %>" href='javascript:toggle("disp<%= o[0] %>", "tgl<%= o[0] %>");'>Show</a></td>
            </tr><tr><td>
                <section id="disp<%= o[0]%>" style="display:none">
              <% a.each do |i| %>
                <%= Item.find(i[0])[:name] %> x <%= i[1] %><br>
            <% end %>
          </section></td></tr>
          <% end %>
        </table>




        
      </div>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
