<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @entry.word %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @entry.definition %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
