
<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Public:</strong>
  <%= @image.public %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user.email %>
</p>

<%= image_tag root_url + "/images/" + @image.filename, size: "100x100", alt: @image.filename %>

<% if @image.user_id == current_user.id %>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
<% end %>
