<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :charge %><br>
    <%= f.text_field :charge %>
  </div>
  <div class="field">
    <%= f.label :promise_time %><br>
    <%= f.datetime_select :promise_time %>
  </div>
  <div class="field">
    <%= f.label :req %><br>
    <%= f.text_field :req %>
  </div>
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.number_field :uid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
