<p id="notice"><%= notice %></p>

<p>
  <strong>Charge:</strong>
  <%= @order.charge %>
</p>

<p>
  <strong>Promise time:</strong>
  <%= @order.promise_time %>
</p>

<p>
  <strong>Req:</strong>
  <%= @order.req %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @order.uid %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
